{% if end_date != blank %} 
  {% if timer_label_text_color == blank %} {% assign timer_label_text_color = "#000000" %} {% endif %}  
    <div class="timer" data-item="accent-text" style="text-transform: none;" data-start="{{ start_date }}" data-end="{{ end_date }}" data-block-id="{{ block_id}}" data-label-color="{{ timer_label_color }}"> 
      <div class="timer-display"> 
        <div class="timer-block"> 
          <span class="timer-block__num js-timer"></span> 
        </div> 
      </div> 
    </div> 
    <style>   
      .font--featured-heading, [data-item~=featured-heading] .timer {
        font-size: var(--font--featured-heading--size);
        font-family: var(--font--heading--family);
        font-weight: var(--font--heading--weight);
        font-style: var(--font--heading--style);
        text-transform: var(--font--heading--uppercase);
        line-height: 1.125em;
        margin: -0.1875em 0;
        letter-spacing: -1px;
      }
      .timer { 
        display: inline-block;
        text-align: center;
        width: 100%;
        
      } 
      .timer--expired { 
        display: none; 
      } 
      .timer__title { 
      @extend .paragraph; 
        text-align: center; 
      } 
      .timer-display { 

      } 
      .timer-block { 
        display: inline-block;
        padding: 0px;
      } 
      .timer-block&:not(:last-child):after { 
        content: ':'; 
        position: absolute; 
        right: 0; 
        top: 3px; 
      } 
      .timer-block__num, 
      .timer-block__unit { 
        display: inline-block; 
        text-align: center; 
        color: {{ timer_label_text_color }};
        padding: 6px 12px;
        border-radius: 4px;
      } 
      .js-timer-minutes, .js-timer-minutes-label {
        display: none; 
      }
    </style> 

 {% endif %} 