<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}" dir="ltr">
  <head>
	<!-- Added by AVADA SEO Suite -->
	{% include 'avada-seo' %}
	<!-- /Added by AVADA SEO Suite -->
    
   <meta name="facebook-domain-verification" content="paldhds5f23n7andqgesbx2jlcgmyk" />
    
  <meta name="google-site-verification" content="SyfeHLfHchw8jNCRSw0PlzUts-PHRCrEWGfdG3P_H9U" />
    <!-- Maker Theme - Version 7.2.1 by Troop Themes - https://troopthemes.com/ -->

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0">
    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    <link rel="preconnect" href="https://cdn.shopify.com">
    <link rel="preconnect" href="https://fonts.shopifycdn.com">
    <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">
    
    <!-- Offe Custom Fonts --> 
    <link rel="stylesheet" href="https://use.typekit.net/ufi5qei.css">   
    

    <link rel="preload" href="{{ 'theme--critical.css' | asset_url }}" as="style">
    <link rel="preload" href="{{ 'theme--async.css' | asset_url }}" as="style">
    <link rel="preload" href="{{ 'offe--custom.css' | asset_url }}" as="style">
    <link rel="preload" href="{{ 'lazysizes.min.js' | asset_url }}" as="script">
    <link rel="preload" href="{{ 'theme.js' | asset_url }}" as="script">

    {%- if canonical_url != blank -%}
      <link rel="canonical" href="{{ canonical_url }}">
    {%- endif -%}

    {% if settings.favicon != nil %}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x' }}" type="image/png">
      <link rel="apple-touch-icon" href="{{ settings.favicon | img_url: '180x' }}">
    {% endif %}

    {% if request.page_type == 'index' %}
      










  <!-- Avada Size Chart Script -->
 {% include 'avada-sc-setting' %}
  <!-- /Avada Size Chart Script -->

<title>{{ page_title }}</title>
    {% else %}
      <title>{{ page_title }} | {{ shop.name }}</title>
    {% endif %}

    {%- liquid
      render 'social-meta-tags'
      render 'css-typography'
      render 'css-colors'
      render 'js-variables'
    -%}

    <script>
      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');

      function onLoadStylesheet() {
        const link = document.querySelector(`link[href="${theme.assets.stylesheet}"]`);
        link.loaded = true;
        link.dispatchEvent(new Event('load'));
      }
      
      function libraryLoader(name, url, callback) {
        if (theme.libraries[name] === undefined) {
          theme.libraries[name] = 'requested';
          const script = document.createElement('script');
          script.src = url;
          script.onload = () => {
            theme.libraries[name] = 'loaded';
            if (callback) callback()
          }
          document.body.appendChild(script);
        } else if (callback && theme.libraries[name] === 'loaded') {
          callback();
        }
      }
    </script>
    <noscript>
      <link href="{{ 'theme--async.css' | asset_url }}" rel="stylesheet">
    </noscript>

    <link href="{{ 'theme--critical.css' | asset_url }}" rel="stylesheet" media="all"/>
    <link
      href="{{ 'theme--async.css' | asset_url }}"
      rel="stylesheet"
      media="print"
      onload="this.media='all';onLoadStylesheet()"
    >
    
    <link href="{{ 'offe--custom.css' | asset_url }}" rel="stylesheet" media="all"/>

    <style>
      {% render 'custom-styles' %}
    </style>

    <script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>
    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>
    <script src="{{ 'offe-custom.js' | asset_url }}" defer="defer"></script>
    
    {% if settings.product--quick-add-enabled %}
      <script src="{{ 'product-price.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'product-options.js' | asset_url }}" defer="defer"></script>
      <script src="{{ 'product-buy-buttons.js' | asset_url }}" defer="defer"></script>
    {% endif %}

    {% if request.page_type contains 'customers' %}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
      <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer="defer"></script>
    {% endif %}
    
    <!-- Hotjar Tracking Code for https://offe.market -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:2821950,hjsv:6};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
</script>
    
    {{ content_for_header }}
    
    
  </head>

  <body
    class="template--{{ template | split: '.' | first | remove: '_' | replace: '/', '--' }} page--{{ page_title | handle }}{% if customer %} customer-logged-in{% endif %}"
    data-theme-id="765"
    data-theme-name="Maker"
    data-theme-version="7.2.1"
    data-tabbing="false"
  >
<script>window.KlarnaThemeGlobals={};{%case template.name%} {%when"product"%} {% if product.first_available_variant.price %}window.KlarnaThemeGlobals.data_purchase_amount = {{ product.first_available_variant.price }};{% endif %}window.KlarnaThemeGlobals.productVariants={{product.variants|json}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%when"cart"%} window.KlarnaThemeGlobals.data_purchase_amount={{cart.total_price}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%endcase%}</script>

      <!-- Avada Size Chart Script -->
 {% include 'avada-sc-setting' %}
  <!-- /Avada Size Chart Script -->

    <a data-item="a11y-button" href='#main-content'>
      {{ 'general.a11y.skip_main' | t }}
    </a>

    <div
      class="off-canvas--viewport"
      data-js-class="OffCanvas"
      data-off-canvas--state="closed"
    >
      <div class="off-canvas--overlay" data-js-class="Transition"></div>
      <div
        aria-label="{{ 'general.a11y.close' | t }}"
        data-js-class="Transition"
        data-off-canvas--close
      >
        {% render 'icons', icon: 'cross' %}
      </div>

      <div class="off-canvas--main-content">
        <div class="offe-custom-header-container">
          {% section 'announcement' %}
          {% section 'header' %}
        </div>

        <main class="layout--main-content" id="main-content">

          {{ content_for_layout }}

        </main>

        {% section 'footer' %}
      </div>

      <div
        class="off-canvas--right-sidebar"
        data-active="cart"
        data-js-class="Transition"
      >
        <div class="off-canvas--focus-trigger" tabindex="0"></div>

        {% if request.page_type == 'product' %}
          <div class="off-canvas--container" data-view="pickup"></div>
        {% endif %}

        {% if request.page_type == 'collection' or request.page_type == 'search' %}
          <div class="off-canvas--container" data-view="filter"></div>
        {% endif %}

        {% if settings.product--quick-add-enabled %}
          <div class="off-canvas--container" data-view="product-form"></div>
        {% endif %}

        {% if settings.cart--type == 'drawer' or settings.product--quick-add-enabled %}
          <div class="off-canvas--container" data-view="cart">
            {% render 'cart', view: 'mobile', is_drawer: true %}
          </div>
        {% endif %}

        <div class="off-canvas--focus-trigger" tabindex="0"></div>
      </div>

      <div
        class="off-canvas--left-sidebar"
        data-active="menu"
        data-js-class="Transition"
      >
        <div class="off-canvas--focus-trigger" tabindex="0"></div>

        <div class="off-canvas--container" data-view="menu">
          {% render 'mobile-nav' %}
        </div>

        <div class="off-canvas--focus-trigger" tabindex="0"></div>
      </div>
    </div>

    {%- liquid
      if settings.popup--enabled
        render 'popup', component: 'main'
      endif

      render 'search', view: 'modal'
      render 'modal'
      render 'feedback-bar'
    -%}
  
    
   
  <!-- Stamped - Begin script -->
  <script async type="text/javascript" id="stamped-script-widget" data-api-key="pubkey-P4106Q0K8txxG0fOU1M06229NhEO0Z" src="https://cdn1.stamped.io/files/widget.min.js"></script>
  <!-- Stamped - End script -->

  <!-- offe-custom styling script -->
  <script>
    var nav_and_banner_height = document.querySelector('.offe-custom-header-container');
    var height = nav_and_banner_height.offsetHeight;
    var rest_of_page = document.querySelector('#main-content');
    rest_of_page.style.top = height+"px";
    rest_of_page.style.marginBottom = height+"px";
  </script>
<style>
.stamped-header .stamped-review-options {
    background: #faf7f5 !Important;
  }
.product--root[data-product-view=grid] span.stamped-badge-caption:before {
    content: ' (' !important;
}

.product--root[data-product-view=grid] .stamped-badge-caption[data-reviews][data-label][data-version="2"]>span:after {
    content: ')' !important;
    font-size: 14px !important;
}
.product--root[data-product-view=grid] .stamped-badge-caption[data-reviews][data-label][data-version="2"]>span {
    font-size: 0 !important;
}  

  .fa-star, .fa-star-o, .fa-star-half-o, .stamped-fa-star, .stamped-fa-star-o, .stamped-fa-star-half-o {color: #573d1c !important;}  
  </style>

    
 {% if template contains "collection" or  template contains "index" %} 
    <style>

.stamped-badge-caption[data-reviews][data-label][data-version="2"]>span {display: none !Important;}
.stamped-badge-caption[data-reviews][data-label][data-version="2"]:before {content:'('!important;
font-size:14px !Important;}
.stamped-badge-caption[data-reviews][data-label][data-version="2"]:after {content:')'!important;
font-size:14px !Important;} 
        </style>

{% endif %} 
<script src="https://cdn.attn.tv/offemarket/dtag.js"></script>
    
<style>
  .stamped-container {
    font-family: Helvetica, 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif !important;
}
</style>  
{% include 'subscribe-it-helper' %}</body>
</html>